*{
  box-sizing: border-box;
}
body{
  margin: 0px;
  padding: 0px;
  font: poppins;
}

#main{
  width: 100%;
  height: 50vh;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: centre;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 5px 10px 30px rgba(248, 36, 36, 0.02);
  z-index: 1;
}
.logo img{
  height: 45px;
}

.menu{
  list-style: none;
  display: flex;
}

.menu li a{
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0pc 22px;
  display: flex;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: gray; 
}
#hey {
  margin-top: 30px;
  display: flex;
  color: #39bfbd;
  font-weight: 500;
  font-size: 0.9em;
  border-bottom: 2px solid #39bfbd;
}
a {
  text-decoration: none;
}

.image {
  width: 500px;
  height: 500px;
}

.content{
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: centre;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  vertical-align: middle;
}

.main-text{
  margin-top: 100px;
  width: 500px;
}

.main-text h1 {
  font-size: 3.5em;
  color: #1c3548;
  margin: 0px 0px 10px 0px;
  line-height: 60px;
}

.main-text p{
  color: grey;
}

.resume-btn{
  
  border: none;
  padding: 10px 20px;

  align-item: centre;
  color: white;
  background-color: #1db096;
  border-radius: 20px;
  box-shadow: 5px 10px 30px rgba(24, 139, 119, 0.2);  
}

.resume-btn:hover {
  background-color: #23cdaf;
  transition: all ease 0.2s;
}
.menu li a:hover{
  background-color: #23cdaf;
  color: white;
  box-shadow: 5px 10px 30px rgba(24, 139, 119, 0.2);
  transition: all ease 0.2s;
}